@font-face {
    font-family: Raleway;
    src: url(../../font/Raleway-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url(../../font/BarlowCondensed-Bold.ttf);
    font-style: normal;
}